.news
	.news__item.news__item-longer
		a(href="#").news__item-content
			h2.news__item-title.news__item-title_long страница компании. история, цели, задача, прочая херня
			p.news__item-text_long Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem earum quo optio quibusdam, odit, tempore debitis cum, suscipit inventore non veniam iusto? Magnam dolore molestiae optio, vel atque at iure! lorem. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta magni velit quisquam, animi, autem tempore optio fuga molestias beatae enim sapiente laboriosam illo doloremque facilis exercitationem aspernatur soluta quidem. Distinctio! <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit architecto eos, sequi inventore obcaecati libero, saepe molestiae tempore! Deserunt illum magnam odit amet! Voluptates ea illum corporis cupiditate dolores, commodi! <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis natus rerum culpa velit magnam pariatur ipsum, doloribus libero, cumque delectus hic quas. Mollitia eum blanditiis laboriosam corporis quos, obcaecati sequi!

			h2.news__item-title.news__item-title_long еще немного букв про компанию, может, важный график

			p.news__item-text_long Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quaerat architecto sunt ad, ut, excepturi sint distinctio vel odio veritatis enim soluta maiores expedita laboriosam dolore recusandae cupiditate? At, adipisci!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae labore quia, saepe vero optio dicta laborum aperiam? Aliquam laboriosam, facilis eum! Delectus debitis ducimus aliquam aperiam eveniet deserunt soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit architecto eos, sequi inventore obcaecati libero, saepe molestiae tempore! Deserunt illum magnam odit amet! Voluptates ea illum corporis cupiditate dolores, commodi! 
			.news__company-containerImg
				img.news__company-img(src="/img/company-page/grafic.png", alt="#")

			h2.news__item-title.news__item-title_long контакты, схема проезда

			p.news__item-text_long Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis natus rerum culpa velit magnam pariatur ipsum, doloribus libero, cumque delectus hic quas. Mollitia eum blanditiis laboriosam corporis quos, obcaecati sequi!  <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quaerat architecto sunt ad, ut, excepturi sint distinctio vel odio veritatis enim soluta maiores expedita laboriosam dolore recusandae cupiditate? At, adipisci!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae labore quia, saepe vero optio dicta laborum aperiam? Aliquam laboriosam, facilis eum! Delectus debitis ducimus aliquam aperiam eveniet deserunt soluta!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit architecto eos, sequi inventore obcaecati libero, saepe molestiae tempore! Deserunt illum magnam odit amet! Voluptates ea illum corporis cupiditate dolores, commodi! 
			
			.news__company-containerImg
				img.news__company-img(src="/img/company-page/map.png", alt="#")


