.news
	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2017
			a(href="#").news__hashtag #новости

		a(href="#").news__item-content
			h2.news__item-title заголовок новости

			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi porro aperiam esse eius consequuntur, voluptates, vero quis facilis enim illum error! Quis rem ipsam nostrum voluptas similique quo incidunt.

	.news__item
		.news__item-header
			datetime.news__datetime 09.06.2017
			a(href="#").news__hashtag #новости компании

		a(href="#").news__item-content
			h2.news__item-title заголовок новости

			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab id, quos eos sapiente nostrum voluptatem impedit, vitae repellat voluptate quam eius temporibus necessitatibus ea eveniet molestias deserunt suscipit magni incidunt.
		
	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #новости

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size заголовок новости
			.news__item-image1

	.news__item
		.news__item-header
			datetime.news__datetime 23.05.2017
			a(href="#").news__hashtag #новости

		a(href="#").news__item-content
			h2.news__item-title заголовок новости
			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem earum quo optio quibusdam, odit, tempore debitis cum, suscipit inventore non veniam iusto? Magnam dolore molestiae optio, vel atque at iure!

	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #новости компании

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size заголовок новости
			.news__item-image4

	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #новости

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size заголовок новости
			.news__item-image4

	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #новости

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size заголовок новости
			.news__item-image2

	.news__item
		.news__item-header
			datetime.news__datetime 01.12.2009
			a(href="#").news__hashtag #новости компании

		a(href="#").news__item-content
			h2.news__item-title заголовок новости
			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni id iusto eligendi quidem distinctio mollitia minus maiores, eaque temporibus, est, esse quae! Ab excepturi rerum, obcaecati! Maxime corporis, rerum labore.

	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #новости
		
		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size заголовок новости
			.news__item-image5

	.news__item
		.news__item-header
			datetime.news__datetime 01.12.2009
			a(href="#").news__hashtag #новости

		a(href="#").news__item-content
			h2.news__item-title заголовок новости
			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni id iusto eligendi quidem distinctio mollitia minus maiores, eaque temporibus, est, esse quae! Ab excepturi rerum, obcaecati! Maxime corporis, rerum labore.

	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #новости компании
		
		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size заголовок новости
			.news__item-image6

	.news__item
		.news__item-header
			datetime.news__datetime 27.01.2015
			a(href="#").news__hashtag #новости 

		a(href="#").news__item-content
			h2.news__item-title заголовок новости
			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nihil laudantium illum culpa rem dignissimos eos ratione iste libero labore atque, illo nulla quisquam qui aperiam minima tempora numquam error.
		