.footer__wrapper
	ul.footer__menu
		li.footer__item
			a.footer__link(href="#") контакты
		li.footer__item
			a.footer__link(href="#") о компании
		li.footer__item
			a.footer__link(href="#") написать директору
		li.footer__item
			a.footer__link(href="#") горячая линия 8-800-333-11-11
			
	.footer__social
		a.footer__social-link.footer__social-link_img1(href="#")
		a.footer__social-link.footer__social-link_img2(href="#")
		a.footer__social-link.footer__social-link_img3(href="#")
		
	a.footer__button(href="#") консультация 
