.header__wrapper
	.header__menu-wrapper
		a.header__logo(href="index.html")
			img.header__logo-img(src="/img/logo.png" alt="logo")

		ul.nav-menu
			li.nav-menu__item
				a.nav-menu__link(href="company-page.html") компания
			li.nav-menu__item
				a.nav-menu__link(href="free-page.html") бесплатно

	form.header-form
		.header-form__wrapper
			input.header-form__button(type="text" placeholder="поиск")
			i.header-form__icon.header-form__icon-search
	
ul.breadcrumbs
	li.breadcrumbs__item
		a.breadcrumbs__link(href="news-page.html") новости
	li.breadcrumbs__item
		a.breadcrumbs__link(href="#") 1С
	li.breadcrumbs__item
		a.breadcrumbs__link(href="products-page.html") продукты
	li.breadcrumbs__item
		a.breadcrumbs__link(href="#") внедрение
	li.breadcrumbs__item
		a.breadcrumbs__link(href="#") сопровождение
	li.breadcrumbs__item
		a.breadcrumbs__link(href="service-page.html") другие услуги
