.news
	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2017
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title текст о продукте

			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi porro aperiam esse eius consequuntur, voluptates, vero quis facilis enim illum error! Quis rem ipsam nostrum voluptas similique quo incidunt.
	
	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size текст о продукте
			.news__item-image1

	.news__item
		.news__item-header
			datetime.news__datetime 09.06.2017
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title текст о продукте

			p.news__item-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa architecto, suscipit blanditiis commodi aspernatur vel nam harum consequatur, neque, sit cumque asperiores itaque accusantium modi voluptas, id enim similique ipsa.
		
	
	.news__item
		.news__item-header
			datetime.news__datetime 23.05.2017
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title текст о продукте
			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem earum quo optio quibusdam, odit, tempore debitis cum, suscipit inventore non veniam iusto? Magnam dolore molestiae optio, vel atque at iure!

	.news__item.news__item-long
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size вот так выглядит наш новый охуенный софт
			.news__item-image3
	
	.news__item.news__item-long
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size вот так выглядит наш новый охуенный софт
			.news__item-image3

	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size текст о продукте
			.news__item-image4
	
	.news__item
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title.news__item-title_size текст о продукте
			.news__item-image1

	.news__item.news__item-long
		.news__item-header
			datetime.news__datetime 22.03.2018
			a(href="#").news__hashtag #продукты

		a(href="#").news__item-content
			h2.news__item-title вот так выглядит наш новый охуенный софт
			p.news__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem earum quo optio quibusdam, odit, tempore debitis cum, suscipit inventore non veniam iusto? Magnam dolore molestiae optio, vel atque at iure!

	